# DEBUG="true"
# NETWORK="true"



AUTO_ROTATE=true
KEYSET_EXPIRY_HOURS=320
ADMIN_NPUB="npub1z5caxxaucn8zvj6ejcgshsmq6e0qeg3e8ckf2k843w53wcarkprqa6ssqg"


CA_CERT_KEY="tls/ca-cert.pem"
CA_KEY_PATH="tls/ca-key.pem"
