[Unit]
Description=Nutmix Remote Signer
After=network.target

[Service]
ExecStart=/usr/local/bin/nutmix_remote_signer
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
