package templates

templ Hello(name string) {
	<html>
		<head>
			<title>Hello</title>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
		</head>
		<body>
			<h1>Hello, { name }</h1>
		</body>
	</html>
}
