package templates

templ Hello(name string) {
	<html>
		<head>
			<title>Hello</title>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</head>
		<body>
			<h1>Hello, { name }</h1>
		</body>
	</html>
}
