package templates

templ Login(nonce string) {
    @Layout("Login") {
		<form nonce={nonce} id="loginContainer">
			<h2>Login Required</h2>
			<p>Please log in to continue.</p>
			<button class="login-button" type="submit">Login</button>
		</form>
    }
}
