package templates

templ Login() {
    @Layout("Login", "/static/login.css") {
		<div class="login-container">
			<h2>Login Required</h2>
			<p>Please log in to continue.</p>
			<button class="login-button" hx-post="/login">Login</button>
		</div>
    }
}
